.movie-display {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  height: 60%;
}

.movie-container {
  overflow: scroll;
  display: flex;
  grid-row: 2;
  &::-webkit-scrollbar, 
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.scroll-btn {
  grid-row: 2;
  background-color: #292929;
  border: none;
  outline: none;
  cursor: pointer;
  height: 100%;
  padding: 0;
}

.arrow {
  height: 40%;
  width: 100px;

  &:hover {
    box-shadow:
      0 0 5px rgba(254, 235, 158, 1),
      0 0 0px rgba(254, 235, 158, 1),
      0 0 10px rgba(254, 235, 158, 1);
  }
}
.link {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

.navBtn {
  font-family: 'Sanchez', serif;
  font-size: 1rem;
  width: 160px;
  height: 32px;
  background: #950202;
  border: none;
  border-radius: 2px;
  color: #fff;
  transition: .4s ease;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.5),
        inset 0 0 6px 1px rgba(0, 0, 0, 0.4);

  &:hover {
    color: rgb(255, 216, 58);
    font-size: 1.05rem;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  }
}