.movie-display {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 6fr;
  overflow: hidden;
  height: 60%;
}

.movie-container {
  display: flex;
  grid-row: 2;
  // white-space: nowrap;
}

button {
  background-color: #292929;
  border: none;
  outline: none;
  cursor: pointer;
  height: 100%;
  padding: 0;
}

.arrow {
  height: 40%;
  width: 100px;

  &:hover {
    box-shadow:
      0 0 5px rgba(254, 235, 158, 1),
      0 0 0px rgba(254, 235, 158, 1),
      0 0 10px rgba(254, 235, 158, 1);
  }
}

.navBtn {
  grid-row: 1;
  border: solid white;
}