.App {
  text-align: center;
  height: 100vh;
}

h1 {
  background: url(./assets/marquee.png)
    no-repeat
    top center / 300px 200px
    fixed;
  margin: auto;
  height: 200px;
  padding-top: 1.3em;
  font-size: 2.5em;
  color: rgba(254, 235, 158, 1);
  text-shadow:
    0 0 5px rgba(254, 235, 158, 1),
    0 0 0px rgba(254, 235, 158, 1),
    0 0 10px rgba(254, 235, 158, 1);
}

